body{
	width: 1200px;
	margin: 20px auto;
}

.tienda{
  border-style: solid;
  border-color: red;
  float: left;
  width: 88%;
}

.publicidad{
  border-style: solid;
  width: 10%;
  height: auto;
  float: right;
}

header{
	display: block;
}

.titulo{
  border-style: solid;
  float: left;
}

.login{
  border-style: solid;
  float: right;
}

.ultimoDiscoNovedades{
  border-style: solid;
  display: inline-block;
}

.disco{
  border-style: solid;
	border-color: red;
  display: inline-block;

}

.menu ul li {
	display: inline-block;
}

.menu ul{
	list-style: none;
	float: left;
}

.menu li{
	width: 115px;
}

.menu a{
	padding: 10px;
	color: black;
	text-align: center;
	display: block;
	border-right: 1px solid #0B615E;
	border-bottom: 1px solid #0B615E;
}

footer{
  border-style: solid;
  float: left;
}
